@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-cloudy:before { content: "\f100"; }
.flaticon-002-cloudy-night:before { content: "\f101"; }
.flaticon-003-clouds-and-sun:before { content: "\f102"; }
.flaticon-004-sun:before { content: "\f103"; }
.flaticon-005-beach-sunset:before { content: "\f104"; }
.flaticon-006-thunderstorm:before { content: "\f105"; }
.flaticon-007-rain:before { content: "\f106"; }
.flaticon-008-heavy-rain:before { content: "\f107"; }
.flaticon-009-storm:before { content: "\f108"; }
.flaticon-010-rain:before { content: "\f109"; }
.flaticon-011-snow:before { content: "\f10a"; }
.flaticon-012-sleet:before { content: "\f10b"; }
.flaticon-013-wind:before { content: "\f10c"; }
.flaticon-014-rain:before { content: "\f10d"; }
.flaticon-015-wind:before { content: "\f10e"; }
.flaticon-016-hail:before { content: "\f10f"; }
.flaticon-017-snowflake:before { content: "\f110"; }
.flaticon-018-snow:before { content: "\f111"; }
.flaticon-019-temperature:before { content: "\f112"; }
.flaticon-020-hot:before { content: "\f113"; }
.flaticon-021-barometer:before { content: "\f114"; }
.flaticon-022-fog:before { content: "\f115"; }
.flaticon-023-fog:before { content: "\f116"; }
.flaticon-024-umbrella:before { content: "\f117"; }
.flaticon-025-weather-vane:before { content: "\f118"; }
.flaticon-026-windsock:before { content: "\f119"; }
.flaticon-027-moon-phase:before { content: "\f11a"; }
.flaticon-028-tornado:before { content: "\f11b"; }
.flaticon-029-rainbow:before { content: "\f11c"; }
.flaticon-030-fahrenheit-degrees:before { content: "\f11d"; }
.flaticon-031-celsius:before { content: "\f11e"; }
.flaticon-032-humidity:before { content: "\f11f"; }
.flaticon-033-moon:before { content: "\f120"; }
.flaticon-034-icicles:before { content: "\f121"; }
.flaticon-035-tornado:before { content: "\f122"; }
.flaticon-036-smartphone:before { content: "\f123"; }
.flaticon-037-weather:before { content: "\f124"; }
.flaticon-038-smartwatch:before { content: "\f125"; }
.flaticon-039-weather:before { content: "\f126"; }
.flaticon-040-weather:before { content: "\f127"; }
.flaticon-041-weather:before { content: "\f128"; }
.flaticon-042-weather:before { content: "\f129"; }
.flaticon-043-cloudy:before { content: "\f12a"; }
.flaticon-044-rainy:before { content: "\f12b"; }
.flaticon-045-weather-forecast:before { content: "\f12c"; }
.flaticon-046-meteorology:before { content: "\f12d"; }
.flaticon-047-meteorology:before { content: "\f12e"; }
.flaticon-048-sunrise:before { content: "\f12f"; }
.flaticon-049-sunset:before { content: "\f130"; }
.flaticon-050-temperature:before { content: "\f131"; }

$font-Flaticon-001-cloudy: "\f100";
$font-Flaticon-002-cloudy-night: "\f101";
$font-Flaticon-003-clouds-and-sun: "\f102";
$font-Flaticon-004-sun: "\f103";
$font-Flaticon-005-beach-sunset: "\f104";
$font-Flaticon-006-thunderstorm: "\f105";
$font-Flaticon-007-rain: "\f106";
$font-Flaticon-008-heavy-rain: "\f107";
$font-Flaticon-009-storm: "\f108";
$font-Flaticon-010-rain: "\f109";
$font-Flaticon-011-snow: "\f10a";
$font-Flaticon-012-sleet: "\f10b";
$font-Flaticon-013-wind: "\f10c";
$font-Flaticon-014-rain: "\f10d";
$font-Flaticon-015-wind: "\f10e";
$font-Flaticon-016-hail: "\f10f";
$font-Flaticon-017-snowflake: "\f110";
$font-Flaticon-018-snow: "\f111";
$font-Flaticon-019-temperature: "\f112";
$font-Flaticon-020-hot: "\f113";
$font-Flaticon-021-barometer: "\f114";
$font-Flaticon-022-fog: "\f115";
$font-Flaticon-023-fog: "\f116";
$font-Flaticon-024-umbrella: "\f117";
$font-Flaticon-025-weather-vane: "\f118";
$font-Flaticon-026-windsock: "\f119";
$font-Flaticon-027-moon-phase: "\f11a";
$font-Flaticon-028-tornado: "\f11b";
$font-Flaticon-029-rainbow: "\f11c";
$font-Flaticon-030-fahrenheit-degrees: "\f11d";
$font-Flaticon-031-celsius: "\f11e";
$font-Flaticon-032-humidity: "\f11f";
$font-Flaticon-033-moon: "\f120";
$font-Flaticon-034-icicles: "\f121";
$font-Flaticon-035-tornado: "\f122";
$font-Flaticon-036-smartphone: "\f123";
$font-Flaticon-037-weather: "\f124";
$font-Flaticon-038-smartwatch: "\f125";
$font-Flaticon-039-weather: "\f126";
$font-Flaticon-040-weather: "\f127";
$font-Flaticon-041-weather: "\f128";
$font-Flaticon-042-weather: "\f129";
$font-Flaticon-043-cloudy: "\f12a";
$font-Flaticon-044-rainy: "\f12b";
$font-Flaticon-045-weather-forecast: "\f12c";
$font-Flaticon-046-meteorology: "\f12d";
$font-Flaticon-047-meteorology: "\f12e";
$font-Flaticon-048-sunrise: "\f12f";
$font-Flaticon-049-sunset: "\f130";
$font-Flaticon-050-temperature: "\f131";